{% extends 'base.html' %}


{% block title %}
Поиск путей в графе
{% endblock %}

{% block body %}
<h1>Тема: Графы. Поиск количества путей</h1>
<h4>Что проверяется:</h4>
<p>Умение представлять и считывать данные в разных типах информационных моделей (схемы,
карты, таблицы, графики и формулы).
</p>
<p><i>1.3.1. Описание (информационная модель) реального объекта и процесса, соответствие описания объекту и целям описания. Схемы,
    таблицы, графики, формулы как описания.</i></p>
<p><i>1.2.1. Умение использовать готовые модели, оценивать их соответствие реальному объек-ту и целям моделирования.</i></p>
<h4>Что нужно знать:</h4>
<ul>
    <li>если в город R можно приехать только из городов X, Y, и Z, то число различных путей из города A в город R равно сумме числа
        различных путей проезда из A в X, из A в Y и из A в Z, то есть Nr=Nx+Ny+Nz, где Nq обозначает число путей из вершины A в некоторую вершину Q
<li>•	число путей конечно, если в графе нет циклов – замкнутых путей
</ul>
<h4>Пример задания:</h4>
<p class="brad"><i><b>Р-05. (демо-2021) </b> На рисунке представлена схема дорог, связывающих города А, Б, В, Г, Д, Е,
Ж, З, И, К, Л, М. По каждой дороге можно двигаться только в одном направлении, указанном стрелкой. Сколько существует
    различных путей из города А в город М, проходящих через город В?
</i></p>
<img src="/static/images/ege13-1.jpg" alt="Рисунок 1">
<h5>Решение:</h5>
<ol>
    <li>нас интересуют пути, проходящие через город В, поэтому на первом этапе отсекаем все ребра, которые позволяют на пути от А к М обойти город В; это рёбра БЕ, ГЗ и ДЗ;
    <li>получается, что вершину Е тоже можно убрать, потому что в неё не ведёт ни одна стрелка;
    <li>начальную вершину помечаем единицей (1 путь из А в А, никуда не ехать):</li>
    <img src="/static/images/ege13-2.jpg" alt="Рисунок 2">
    <li>в вершины Б и Д можно ехать только из А, поэтому помечаем их тоже единицами; в вершину Г можно приехать из А (метка 1) и из Д, поэтому метка вершины Г – 2:</li>
    <img src="/static/images/ege13-3.jpg" alt="Рисунок 3">
    <li>в вершину В можно приехать из Б (метка 1), А (метка 1) и Г (метка 2), так что метка вершины В равна 1 + 1 + 2 = 4:</li>
    <img src="/static/images/ege13-4.jpg" alt="Рисунок 4">
    <li>в вершину З можно ехать только из В, поэтому её метка тоже равна 4; для вершины Ж складываем метки В и З (4 + 4 = 8), а для И – складываем метки Ж и З (8 + 4 = 12)</li>
    <img src="/static/images/ege13-5.jpg" alt="Рисунок 5">
    <li>для вершин К и М получаем по 12 путей, а для М - 24
    <li>Ответ: 24.
</ol>
<h4>Ещё пример задания:</h4>
<p class="brad"><i><b>Р-01.</b> Города A, B, C и D связаны дорогами. Известно, что существуют дороги между городами
A и С, C и B (две дороги), A и B, C и D (две  дороги), B и D. Сколькими различными способами можно проехать из города А в город D, не заезжая дважды в один город?
</i></p>
<h5>Решение:</h5>
<ol>
    <li>нарисуем граф, в котором множественные дороги из одного города в другой будем обозначать одной дугой и подписывать около неё количество дорог:</li>
    <img src="/static/images/ege13-11.jpg" alt="Рисунок 6">
<li>выпишем все маршруты, по которым можно ехать из A в D так, чтобы дважды не проезжать один и тот же город:</li>
<img src="/static/images/ege13-12.jpg" alt="Рисунок 7">
<li>теперь рассмотрим маршрут  A -> B -> D; на всех участках только одна дорога, поэтому есть только один такой маршрут
<li>для маршрута A -> С -> D: на первом участке только одна дорога, на втором – две, общее число маршрутов равно произведению этих чисел: 1*2 = 2
    <li>аналогично находит количество различных путей по другим маршрутам</li>
    <img src="/static/images/ege13-13.jpg" alt="Рисунок 8">
<li>всего получается 1 + 2 + 4 + 2 = 9.
<li>Ответ: 9.
</ol>
<h4>Ещё пример задания:</h4>
<p class="brad"><i><b>Р-03.</b> На рисунке – схема дорог, связывающих города А, Б, В, Г, Д, Е, Ж, И, К, М. По каждой дороге можно двигаться только в одном направлении, указанном стрелкой. Сколько существует различных путей, ведущих из города А в город М и проходящих через город В?</i></p>
<img src="/static/images/ege13-6.jpg" alt="Рисунок 9">
<h5>Решение:</h5>
<ol>
    <li>для того, чтобы оставить только маршруты, проходящие через вершину В, нужно представить граф в таком виде, «собрав его в пучок» около вершины В:</li>
    <img src="/static/images/ege13-7.jpg" alt="Рисунок 10">
    <li>проведём сечение графа через вершину В:</li>
    <img src="/static/images/ege13-8.jpg" alt="Рисунок 11">
<li>обратим внимание на такой факт: если мы перешли через линию сечения из левой части в правую по ребру ГЕ или через вершину Ж,
    мы уже никак не попадём в вершину В (нет рёбер с «обратным направлением», поэтому эти маршруты запрещены; для более сложных случаев,
    когда такие рёбра с «обратным направлением» есть, нужно перерисовать граф (или провести сечение иначе) так, чтобы все вершины, ИЗ которых можно
    попасть в В, оказались слева от линии сечения
    <li>в данном случае выбрасывается вершина Ж, все связанные с ней рёбра, и ребро ГЕ:</li>
    <img src="/static/images/ege13-9.jpg" alt="Рисунок 12">
    <li>дальше используем стандартный метод (см. разбор следующей задачи)
    <li>покажем только окончательный результат:</li>
    <img src="/static/images/ege13-10.jpg" alt="Рисунок 13">
<li>Ответ: 16.
</ol>
{% endblock %}
